<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart City{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', path='/css/style.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        <a href="/">Smart City ⚡</a></li>
    </div>

    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/customers">Customers</a></li>
    </ul>

</nav>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block scripts %}
{% endblock %}

</body>
</html>